@using Microsoft.AspNet.Identity
@model IEnumerable<Stagio.Web.ViewModels.Notification.Notification>

@{
    ViewBag.Title = "Index";
}

<h2 id="contact-index-page">Accueil Entreprise</h2>

<div class="row">
    
    <div class="col-md-5 col-md-offset-1">
        <h3>Invitation</h3>
        <div>
            @Html.ActionLink("Inviter un autre employé", MVC.ContactEnterprise.InviteContactEnterprise(), new { id = "invite-contact-enterprise", @class = "btnMenu btnMenu-default" })
        </div>
    </div>
    <div class="col-md-5">
        <h3>Stages</h3>
        <div>
            @Html.ActionLink("Ajouter une offre de stage", MVC.ContactEnterprise.CreateStage(), new { id = "create-stage-enterprise", @class = "btnMenu-Top btnMenu-default" })
            @Html.ActionLink("Afficher vos stages", MVC.ContactEnterprise.ListStage(), new { id = "listContact", @class = "btnMenu-Bottom btnMenu-default" })
        </div>
    </div>
</div>

<hr />

<h3>Notifications</h3>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, MVC.Notification.Detail().AddRouteValues(new { id = item.NotificationId }), new { id = "notification-detail" + item.NotificationId })
            </td>
            <td>
                @Html.Label(item.Date.ToShortDateString())
            </td>

        </tr>
    }

</table>
    
