@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}

<h2>Accueil Entreprise</h2>

<!--
    <div>
        @Html.ActionLink("Inviter un autre employé", MVC.ContactEnterprise.InviteContactEnterprise(), new { id = "invite-contact-enterprise" })
    </div>
    <div>
        @Html.ActionLink("Crée un stage", MVC.ContactEnterprise.CreateStage(), new { id = "create-stage-enterprise" })
    </div>
    <div>
        @Html.ActionLink("Afficher la liste des stages pour une entreprise", MVC.ContactEnterprise.ListStage(), new { id = "listContact" })
    </div>
    <div>
        @Html.ActionLink("Afficher les informations du profil", MVC.Account.Details(Int32.Parse(@User.Identity.GetUserId())), new { id = "details-contact" })
    </div>
--!>