@model IEnumerable<Stagio.Web.ViewModels.ContactEnterprise.ListStage>


<!DOCTYPE html>

<html>
<head>
        <title>ListStage</title>
</head>
    <body>
        <h2 id="list-stage">Liste des stages de votre entreprise</h2>
        <div class="text-right" id="stages-count">@Model.Count() stage(s)</div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PublicationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StageTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NbApply)
                </th>

                <th></th>
            </tr>
    
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublicationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StageTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NbApply)
                    </td>

                    <td>
                        @Html.ActionLink("Afficher les candidatures", "ListStudentApply", new { id = item.Id }, new { id = "list-stages" + item.Id })
                
                    </td>
                    
                    <td>
                        @Html.ActionLink("Modifier", MVC.Stage.Edit(item.Id))

                    </td>
                    <td>
                        @Html.ActionLink("Détails", MVC.Stage.Details(item.Id))

                    </td>
                    <td>
                     @if (item.Status != 3)
                     {
                         @Html.ActionLink("Retirer", MVC.ContactEnterprise.RemoveStageConfirmation(item.Id), new {id = "remove-stage" + item.Id})
                     }
                     else
                     {
                        @Html.ActionLink("Remettre disponible", MVC.ContactEnterprise.ReactivateStageConfirmation(item.Id), new { id = "reactivate-stage" + item.Id })
                     }
                    </td>
                </tr>
            }
    
        </table>
        <div>
            @Html.ActionLink("Retour à l'accueil", MVC.ContactEnterprise.Index())
        </div>
    </body>
</html>
