@model IEnumerable<Stagio.Web.ViewModels.Apply.StudentApply>


<!DOCTYPE html>

<html>
<head>
    <title>ListStudentApply</title>
</head>
<body>

    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                @if (item.Status == 0)
                {
                <td>
                    En attente
                </td>
                }
                else if (item.Status == 1)
                {
                <td>
                    Acceptée
                </td>
                }
                else if (item.Status == 2)
                {
                <td>
                    Refusée
                </td>
                }
                <td>
                    @Html.ActionLink("Afficher le cv et la lettre de la présentation de l'étudiant", MVC.ContactEnterprise.DetailsStudentApply(item.Id))
                </td>
            </tr>
        }

    </table>
</body>
</html>
