@using Stagio.Web.Module.Strings.Shared
@model Stagio.Web.ViewModels.Notification.Detail

@{
    ViewBag.Title = "Detail";
}

<h2 id="notification-detail">Détail</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.Raw(Model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>

<p>
@if (@User.IsInRole("Étudiant"))
{
    @Html.ActionLink(Navigation.ReturnHome, MVC.Student.Index())

}
@if (@User.IsInRole("Coordonnateur"))
{
    @Html.ActionLink(Navigation.ReturnHome, MVC.Coordinator.Index())

}
@if (@User.IsInRole("Contact entreprise"))
{
    @Html.ActionLink(Navigation.ReturnHome, MVC.ContactEnterprise.Index())

}
</p>
