@using Microsoft.AspNet.Identity
@model IEnumerable<Stagio.Web.ViewModels.Notification.Notification>

@{
    ViewBag.Title = "Coordinator";
}

<h1 id="coordinator-home">Coordination</h1>

<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <h3>Invitation</h3>
        <div>
            @Html.ActionLink("Inviter un coordonnateur", MVC.Coordinator.Invite(), new { id = "create-coordinator", @class = "btnMenu-Top btnMenu-default" })
            @Html.ActionLink("Inviter des employés d'entreprise", MVC.Coordinator.InviteContactEnterprise(), new { id = "invite-enterprise", @class = "btnMenu-Bottom btnMenu-default" })
        </div>

    </div>

    <div class ="col-md-5">
        <h3>Étudiants</h3>
        <div>
            @Html.ActionLink("Importer des étudiants", MVC.Coordinator.Upload(), new { id = "upload-student", @class = "btnMenu-Top btnMenu-default" })
            @Html.ActionLink("Liste des étudiants", MVC.Coordinator.StudentList(), new { id = "student-list", @class = "btnMenu-Bottom btnMenu-default" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <h3>Stages</h3>
        <div>
            @Html.ActionLink("Voir la liste des stages", MVC.Stage.ListNewStages(), new { id = "list", @class = "btnMenu-Top btnMenu-default" })
            @Html.ActionLink("Liste des conventions de stage", MVC.StageAgreement.List(), new { id = "student-list", @class = "btnMenu-Bottom btnMenu-default" })
        </div>
    </div>
    <div class="col-md-5">
        <h3>Gestion</h3>
        <div>
            @Html.ActionLink("Modifier la période d'ouverture du site", MVC.Coordinator.SetApplyDates(), new { id = "setApplyDates", @class = "btnMenu-Top btnMenu-default" })
            @Html.ActionLink("Bloquer le site", MVC.Coordinator.BlockWebsiteAccess(), new { id = "blockAccess", @class = "btnMenu-Bottom btnMenu-default" })
        </div>
    </div>
</div>

<hr/>

<h3>Notifications</h3>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, MVC.Notification.Detail().AddRouteValues(new { id = item.NotificationId }), new { id = "notification-detail" + item.NotificationId })
            </td>
            <td>
                @Html.Label(item.Date.ToShortDateString())
            </td>

        </tr>
    }

</table>