@using Microsoft.AspNet.Identity
@model IEnumerable<Stagio.Web.ViewModels.Notification.Notification>

@{
    ViewBag.Title = "Coordinator";
}

<h2 id="coordinator-home">Coordination</h2>

<br />
    Pour envoyer un invitation à un autre coordonnateur, cliquez @Html.ActionLink("ici", MVC.Coordinator.Invite(), new { id = "create-coordinator" })

<div>
        Pour ajouter des étudiants avec une liste .csv, cliquez  @Html.ActionLink("ici", MVC.Coordinator.Upload(), new { id = "upload-student" })
    </div>
    <div>
        Pour inviter des employés d'entreprises à se céer un compte, cliquez @Html.ActionLink("ici", MVC.Coordinator.InviteContactEnterprise(), new { id = "invite-enterprise" })
</div>
<div>
        Pour voir la liste des stages acceptés, refusés ou à approuver, cliquez  @Html.ActionLink("ici", MVC.Stage.ListNewStages(), new { id = "list" })
</div>
<div>
    Pour voir la liste des étudiants, cliquez @Html.ActionLink("ici", MVC.Coordinator.StudentList(), new { id = "student-list" })
</div>
<div>
    Pour voir la liste des conventions de stage, cliquez @Html.ActionLink("ici", MVC.StageAgreement.List(), new { id = "student-list" })
</div>

<div>
    Pour changer les dates de début et fin de la période pour appliquer sur les offres de stages, cliquez @Html.ActionLink("ici", MVC.Coordinator.SetApplyDates(), new { id = "setApplyDates" })<br/>
    Si vous désirez bloquer le site immédiatement, cliquez @Html.ActionLink("ici", MVC.Coordinator.BlockWebsiteAccess(), new { id = "blockAccess" })
</div>

<div>@Html.ActionLink("Afficher les informations du profil", MVC.Account.Details(Int32.Parse(@User.Identity.GetUserId())), new { id = "details-coordo" })</div>

<h3>Notifications:</h3>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, MVC.Notification.Detail().AddRouteValues(new { id = item.NotificationId }), new { id = "notification-detail" + item.NotificationId })
            </td>
            <td>
                @Html.Label(item.Date.ToShortDateString())
            </td>

        </tr>
    }

</table>