@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Coordinator";
}

<h2 id="coordinator-home">Coordination</h2>

<br />
    Pour envoyer un invitation à un autre coordonnateur, cliquez @Html.ActionLink("ici", MVC.Coordinator.Invite(), new { id = "create-coordinator" })

    <div>
        Pour ajouter des étudiants avec une liste .csv, cliquez  @Html.ActionLink("ici", MVC.Student.Upload(), new { id = "upload-student" })
    </div>
    <div>
        Pour inviter des employés d'entreprises à se céer un compte, cliquez @Html.ActionLink("ici", MVC.Coordinator.InviteContactEnterprise(), new { id = "invite-enterprise" })
    </div>
    <div>
        Pour voir la liste des stages acceptés, refusés ou à approuver, cliquez  @Html.ActionLink("ici", MVC.Stage.ListNewStages(), new { id = "list" })
    </div>
    <div>
        Pour voir la liste des étudiants, cliquez @Html.ActionLink("ici", MVC.Coordinator.StudentList(), new { id = "student-list" })
    </div>
