@using System.Web.Mvc.Html
@model IEnumerable<Stagio.Web.ViewModels.ContactEnterprise.Reactive>
<h4 id="invite-enterprise-page">Inviter des employés d'entreprise à s'inscrire</h4>

@using (Html.BeginForm())
{
    <div class="row">
        <p class="col-md-8">Cochez les employés à inviter</p>
        <p class="col-md-offset-8"> @Html.ActionLink("Cliquer ici pour inviter un nouvel employé d'entreprise", MVC.Coordinator.InviteOneContactEnterprise())</p>
    </div>


    <table class="table newTable">
        <tr>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.EnterpriseName)
            </th>
            <th class="col-md-3">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="col-md-3">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                Inviter?
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.EnterpriseName)
                </td>
                <td class="col-md-3">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="col-md-3">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    <input type="checkbox" name="selectedIdContactEnterprise" value=@item.Id checked>
                </td>
            </tr>
        }

    </table>

    <div class="col-lg-12">
        Message:
        @Html.TextArea("Message", "", new { @class = "form-control", size = "25" })
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <input type="submit" id="send-button" value="Envoyer" class="btnMenu btnMenu-default" style="width:100px" />
        </div>
    </div>
}