@using Stagio.Web.Module.Strings.Shared;
@model Stagio.Web.ViewModels.Student.ResultCreateList

@{
    ViewBag.Title = "ResultCreateList";
}

<h1 id="resultCreateList-page"></h1>

<h3>Étudiants qui ont  été ajoutés</h3>

@if (Model.ListStudentAdded.Count > 0)
{
<table class="table">
        <tr>
        <th class="col-md-2">

            Matricule
        </th>
        <th class="col-md-2">
            Nom
        </th>
        <th class="col-md-2">
            Prénom
        </th>
    </tr>

    @foreach (var item in Model.ListStudentAdded)
    {
        <tr>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.Matricule)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
        </tr>
    }

</table>
}
else
{
    <div>
        Aucun étudiant a été ajouté.
    </div>
}

<h3>Étudiants qui n'ont pas été ajoutés</h3>

@if (Model.ListStudentNotAdded.Count > 0)
{
<table class="table">
    <tr>
        <th class="col-md-2">

            Matricule
        </th>
        <th class="col-md-2">
            Nom
        </th>
        <th class="col-md-2">
            Prénom
        </th>
    </tr>

    @foreach (var item in Model.ListStudentNotAdded)
    {
        <tr>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.Matricule)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
        </tr>
    }

</table>
}
else
{
    <div>
        Aucun étudiant n'a pas pu être ajouté.
    </div>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="panel-body">

        <input id="resultCreateList-button" type="submit" value="Ok" />

    </div>
}

<div>
    @Html.ActionLink(Navigation.ReturnHome, MVC.Home.Index())
</div>

