@model Stagio.Web.ViewModels.Coordinator.ApplyDatesLimit

@{
    ViewBag.Title = "SetStageDates";
}

<h2>Ajouter les dates de début et de fin pour la période de postulation</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4> *Prendre note que le site ne sera disponible que pour les coordonnateurs avant la date de début et après la date de fin</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.DateBegin, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateBegin, new { htmlAttributes = new { @class = "form-control", @id = "datetimepickerStart" } })
            @Html.ValidationMessageFor(model => model.DateBegin, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateEnd, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateEnd, new { htmlAttributes = new { @class = "form-control", @id = "datetimepickerEnd" } })
            @Html.ValidationMessageFor(model => model.DateEnd, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Enregistrer" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Retour à l'accueil", MVC.Coordinator.Index())
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
