@model Stagio.Web.ViewModels.Coordinator.StudentLists


<h2 id="student-list">Liste des étudiants</h2>


<h2>Étudiants qui n'ont pas trouvé de stage:</h2>
<div class="text-right" id="student-count">@Model.StudentStageNotFound.Count() étudiant(s)</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentStageNotFound[0].Matricule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentStageNotFound[0].FirstName)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentStageNotFound[0].LastName)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentStageNotFound[0].NbApply)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentStageNotFound[0].NbDateInterview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentStageNotFound[0].DateAccepted)
        </th>
    </tr>

    @foreach (var item in Model.StudentStageNotFound)
    {
        if (item.NbDateInterview == 0)
         {
             <tr class="studentProblem">
                 <td>
                    @Html.ActionLink(item.Matricule.ToString(), MVC.Coordinator.StudentApplyList(item.Id), new { id = "student-stages" + item.Id })

                 </td>
                 <td>
                     @Html.DisplayFor(model => item.FirstName)
                 </td>

                 <td>
                     @Html.DisplayFor(model => item.LastName)
                 </td>
                 <td>
                     @Html.DisplayFor(model => item.NbApply)
                 </td>
                 <td>
                     @Html.DisplayFor(model => item.NbDateInterview)
                 </td>
                <td>
                    @Html.DisplayFor(model => item.DateAccepted)
                </td>
                 
             </tr>
         }
        else
        {
            <tr class="studentCorrect">

                <td>
                    @Html.ActionLink(item.Matricule.ToString(), MVC.Coordinator.StudentApplyList(item.Id), new { id = "student-stages" + item.Id })

                </td>
                <td>
                    @Html.DisplayFor(model => item.FirstName)
                </td>

                <td>
                    @Html.DisplayFor(model => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.NbApply)
                </td>
                <td>
                    @Html.DisplayFor(model => item.NbDateInterview)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DateAccepted)
                </td>
            </tr>
        }
    }

</table>

<h2>Étudiants qui ont trouvé un stage:</h2>
<div class="text-right" id="student-count">@Model.StudentStageFound.Count() étudiant(s)</div>

<table class="table">
            <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentStageFound[0].Matricule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentStageFound[0].FirstName)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentStageFound[0].LastName)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentStageFound[0].NbApply)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentStageFound[0].NbDateInterview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentStageFound[0].DateAccepted)
        </th>
    </tr>

    @foreach (var item in Model.StudentStageFound)
    {
        <tr>
                <td>
                    @Html.ActionLink(item.Matricule.ToString(), MVC.Coordinator.StudentApplyList(item.Id), new { id = "student-stages" + item.Id })

                </td>
                <td>
                    @Html.DisplayFor(model => item.FirstName)
                </td>

                <td>
                    @Html.DisplayFor(model => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.NbApply)
                </td>
                <td>
                    @Html.DisplayFor(model => item.NbDateInterview)
                </td>
            <td>
                @Html.DisplayFor(model => item.DateAccepted)
            </td>
                

            </tr>

    }

</table>