@model IEnumerable<Stagio.Web.ViewModels.Coordinator.StudentList>


<h2 id="student-list">Liste des étudiants</h2>

<div class="text-right" id="student-count">@Model.Count() étudiant(s)</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Matricule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbApply)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbDateInterview)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.NbDateInterview == 0)
         {
             <tr style="color: red">
                 <td>
                     @Html.ActionLink(item.Matricule.ToString(), MVC.Coordinator.StudentApplyList(item.Id), new {id = "student-stages" + item.Id})

                 </td>
                 <td>
                     @Html.DisplayFor(model => item.FirstName)
                 </td>

                 <td>
                     @Html.DisplayFor(model => item.LastName)
                 </td>
                 <td>
                     @Html.DisplayFor(model => item.NbApply)
                 </td>
                 <td>
                     @Html.DisplayFor(model => item.NbDateInterview)
                 </td>
                 
            
             </tr>
         }
        else
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Matricule.ToString(), MVC.Coordinator.StudentApplyList(item.Id), new { id = "student-stages" + item.Id })

                </td>
                <td>
                    @Html.DisplayFor(model => item.FirstName)
                </td>

                <td>
                    @Html.DisplayFor(model => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.NbApply)
                </td>
                <td>
                    @Html.DisplayFor(model => item.NbDateInterview)
                </td>
                
            </tr>
        }
    }

</table>