@using Stagio.Web.Module.Strings.Shared
@model IEnumerable<Stagio.Web.ViewModels.Coordinator.StudentApplyList>


<h2 id="studentApply-list">Suivi de l'étudiant</h2>

<div class="text-right" id="stage-count">@Model.Count() candidature(s)</div>

<div>
    @if (Model.Count() != 0)
    {
        <h4>
            @Html.Label(Model.First().FirstName)
            @Html.Label(" ")
            @Html.Label(Model.First().LastName)
            @Html.Label(" (")
            @Html.Label(Model.First().Matricule.ToString())
            @Html.Label(") ")
        </h4>

    }
    else
    {
        <p>Cet étudiant n'a pas postulé pour un stage.</p>
    }
</div>

<table class="table newTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StageTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnterpriseName)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateApply)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateInterview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStageOffer)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAcceptStage)
        </th>
        <th>
            Détails de la candidature
        </th>
        <th>
            Convention de stage
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.StageTitle)

            </td>
            <td>
                @Html.DisplayFor(model => item.EnterpriseName)
            </td>

            <td>
                @Html.Label(item.DateApply)
            </td>
            <td>
                @if (item.DateInterview != null)
                {
                    @Html.Label(item.DateInterview)
                }
                else
                {
                    <p>Inconnue</p>
                }
            </td>
            <td>
                @if (item.DateStageOffer != null)
                {
                    @Html.Label(item.DateStageOffer)
                }
                else
                {
                    <p>Inconnue</p>
                }
            </td>
            <td>
                @if (item.DateAcceptStage != null)
                {
                    @Html.Label(item.DateAcceptStage)
                }
                else
                {
                    <p>Inconnue</p>
                }
            </td>
            <td>
                @Html.ActionLink("Voir les détails", MVC.Coordinator.DetailsApplyStudent(item.Id, false))
            </td>
            <td>
                @if (item.StageAgreementCreated == false && item.DateAcceptStage != null)
                {
                    @Html.ActionLink("Créer la convention de stage", MVC.StageAgreement.CreateConfirmation(item.Id), new { id = "create-stageAgreement" + item.Id })
                }

            </td>
        </tr>
    }

</table>


<div>
    @Html.ActionLink("Retour à la liste d'étudiants", MVC.Coordinator.StudentList())
</div>