@using System.Runtime.InteropServices
@model Stagio.Web.ViewModels.Account.Login



<div class="container" id="login-page">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-signin", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <h3 class="form-signin-heading">Connectez-vous à votre compte Stagio</h3>

        @Html.ValidationMessage("loginError")

        @Html.ValidationMessageFor(model => model.Username)
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Username", type = "username" })


        @Html.ValidationMessageFor(model => model.Password)
        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Mot de passe", type = "password" })


        <button class="btn btn-lg btn-primary btn-block" type="submit" id="login-submit">Se connecter</button>
    }

</div> 

