@model IEnumerable<Stagio.Web.ViewModels.Student.AppliedStages>

@{
    ViewBag.Title = "ApplyList";
}

<h2 id="student-ApplyList">Listes des stages avec candidature</h2>
<div class="text-right" id="stages-count">@Model.Count() stage(s)</div>

<table class="table newTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.stageTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateApply)

        </th>
        <th>
            Retirer
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.stageTitle, MVC.Stage.ViewStageInfo().AddRouteValues(new { id = item.IdStage }), new { id = "details-stages" + item.IdStage })
            </td>
            <td>
                @Html.Label(item.DateApply.ToShortDateString())
            </td>
            @if (item.Status == 3)
            {
                <td>
                    Candidature retirée

                </td>
            }
            <td>
                @if (item.Status != 3)
                {

                    using (Html.BeginForm("ApplyRemoveConfirmation", "Student", new { id = item.Id }, FormMethod.Get))
                    {
                        <input type="submit" value="Retirer" id="remove-apply" class="btn btn-default" />
                    }
                }
                else
                {
                    using (Html.BeginForm("ApplyReApplyConfirmation", "Student", new { id = item.Id }, FormMethod.Get))
                    {
                        <input type="submit" value="Resoumettre" id="reapply-apply" class="btn btn-default" />
                    }
                }
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Retour à la l'accueil", MVC.Home.Index())
</div>
