@using Microsoft.AspNet.Identity
@model IEnumerable<Stagio.Web.ViewModels.Notification.Notification>

@{
    ViewBag.Title = "Index";
}

<h2 id="student-home-page">Accueil</h2>


<div class="row">
    
    <div class="col-md-5 col-md-offset-1">
        <h3>Stages et Candidatures</h3>
        <div>
            @Html.ActionLink("Voir les offres de stages", MVC.Student.DisplayStageList(), new { id = "stageList-student", @class = "btnMenu-Top btnMenu-default" })
            @Html.ActionLink("Voir mes candidatures", MVC.Student.ApplyList(), new { id = "list-applies", @class = "btnMenu-Bottom btnMenu-default" })
        </div>
    </div>
    <div class="col-md-5">
        <h3>Entrevues</h3>
        <div>
            @Html.ActionLink("Inscrire une entrevue", MVC.Interview.Create(), new { id = "add-entrevue", @class = "btnMenu-Top btnMenu-default" })
            @Html.ActionLink("Afficher mes entrevues", MVC.Interview.List(), new { id = "list-interview", @class = "btnMenu-Bottom btnMenu-default" })
        </div>
    </div>
</div>

<h3>Notifications</h3>
<br />
<table class="table newTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, MVC.Notification.Detail().AddRouteValues(new { id = item.NotificationId }), new { id = "notification-detail" + item.NotificationId })
            </td>
            <td>
                @Html.Label(item.Date.ToShortDateString())
            </td>

        </tr>
    }

</table>
