
@using System.Web.Mvc.Html
@model Stagio.Web.ViewModels.Student.ResultCreateList

@{
    ViewBag.Title = "ResultCreateList";
}

<h2 id="resultCreateList-page"></h2>

<p>Étudiants qui ont  été ajoutés</p>
<table class="table">
    <tr class="row">
        <th class="col-md-2">

            Matricule
        </th>
        <th class="col-md-4">
            Nom
        </th>
        <th class="col-md-4">
            Prénom
        </th>
    </tr>

    @foreach (var item in Model.ListStudentAdded)
    {
        <tr class="row">
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.Matricule)
            </td>
            <td class="col-md-4">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td class="col-md-4">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
        </tr>
    }

</table>

<p>Étudiants qui n'ont pas été ajoutés</p>

<table class="table">
    <tr class="row">
        <th class="col-md-2">

            Matricule
        </th>
        <th class="col-md-4">
            Nom
        </th>
        <th class="col-md-4">
            Prénom
        </th>
    </tr>

    @foreach (var item in Model.ListStudentNotAdded)
    {
        <tr class="row">
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.Matricule)
            </td>
            <td class="col-md-4">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td class="col-md-4">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
        </tr>
    }

</table>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="panel-body">

        <input id="resultCreateList-button" type="submit" value="Ok" />

    </div>
}



<div>
    @Html.ActionLink("Retour à l'accueil", MVC.Home.Index())
</div>