@using Microsoft.AspNet.Identity
@using Stagio.Domain.Application
<ul class="nav navbar-nav">

    @if (Request.IsAuthenticated && User.IsInRole(RoleName.Student))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="student-stage-menu">Stage <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Voir les offres de stages", MVC.Student.StageList(), new { id = "stageList-student" })</li>
                <li>@Html.ActionLink("Voir les stages avec postulation", MVC.Student.ApplyList(), new { id = "apply-list-menu-item" })</li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="student-interview-menu">Entrevue <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Inscrire une date d'entrevue", MVC.Interview.Create(), new { id = "add-entrevue-menu-item" }) </li>
                <li>@Html.ActionLink("Faire le suivi des entrevues", MVC.Interview.List(), new { id = "list-interview" })</li>
            </ul>
        </li>

        <li class="dropdown">
        <li>@Html.ActionLink("Notifications", MVC.Notification.NotificationList(), new { id = "notification-list" })</li>
        </li>
    }

    @if (Request.IsAuthenticated && User.IsInRole(RoleName.ContactEnterprise))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="contactEnterprise-menu">Contact entreprise <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Inviter un autre employé", MVC.ContactEnterprise.InviteContactEnterprise(), new { id = "invite-contact-enterprise" })</li>
                <li>@Html.ActionLink("Crée un stage", MVC.ContactEnterprise.CreateStage(), new { id = "create-stage-enterprise" })</li>
                <li>@Html.ActionLink("Afficher la liste des stages pour une entreprise", MVC.ContactEnterprise.ListStage(), new { id = "listContact" })</li>
                <li>@Html.ActionLink("Afficher les informations du profil", MVC.Account.Details(Int32.Parse(@User.Identity.GetUserId())), new { id = "details-contact" }) </li>
            </ul>
        </li>

        <li class="dropdown">
        <li>@Html.ActionLink("Notifications", MVC.Notification.NotificationList(), new { id = "notification-list" })</li>
        </li>
    }



</ul>
