@model Stagio.Web.ViewModels.Interviews.Edit

<!DOCTYPE html>

<html>
<head>

    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4 id="edit-page">Modifier une entrevue</h4>
            <hr />
            @Html.HiddenFor(model => model.StudentId)
            @Html.HiddenFor(model => model.StageId)
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @style="width:150px",@class = "form-control", @id="datetimepicker"} })
                    @Html.ValidationMessageFor(model => model.Date)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.StageTitleAndCompagny, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.StageTitleAndCompagny)
                    @Html.ValidationMessageFor(model => model.StageTitleAndCompagny)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Present, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Present)
                    @Html.ValidationMessageFor(model => model.Present)
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.DateOffer, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateOffer, new { htmlAttributes = new { @style="width:100px",@class = "form-control", @id = "datetimepickerDateOffer" } })
                    @Html.ValidationMessageFor(model => model.DateOffer)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DateAcceptOffer, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @if(Model.hadStage && Model.IdStageAcceptedByStudent != Model.StageId)
                    {
                         <p>Voua avez déjà un stage</p>
                    }
                    else
                    {
                        @Html.EditorFor(model => model.DateAcceptOffer, new { htmlAttributes = new { @style="width:100px",@class = "form-control", @id = "datetimepickerDateAcceptOffer" } })
                    @Html.ValidationMessageFor(model => model.DateAcceptOffer)
                    }
                   
                </div>
            </div>

            @Html.HiddenFor(model => model.Id)
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="edit-button" type="submit" value="Sauvegarder" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Retour à la liste", MVC.Interview.List())
    </div>
</body>
</html>
