@model IEnumerable<Stagio.Web.ViewModels.Interviews.List>

<!DOCTYPE html>

<html>
<head>
    <title>List</title>
</head>
    <body>
        <h2 id="list-page">Liste des entrevues</h2>
        <div class="text-right" id="interview-count">@Model.Count() entrevue(s)</div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StageId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Present)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOffer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAcceptOffer)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StageTitleAndCompagny)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Present)
                    </td>
                    <td>
                        @if (item.DateOffer == null)
                        {
                            <p>Inconnue</p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.DateOffer)
                        }
                    </td>
                    <td>
                        @if (item.DateAcceptOffer == null)
                        {
                            <p>Inconnue</p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.DateAcceptOffer)
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Modifier", MVC.Interview.Edit(item.Id), new { id = "list-interview" + item.Id })
                    </td>
                </tr>
            }

        </table>
        
        @Html.ActionLink("Retour à l'accueil", MVC.Student.Index())
    </body>
</html>
