<h2 id="home-page">Bienvenue</h2>
<div>
    @Html.ActionLink("Modifier le profil 1", MVC.Student.Edit(1), new { id = "edit-student" })
</div>
<div>
    @Html.ActionLink("Créer profil étudiant", MVC.Student.Create(), new { id = "create-student" })

</div>
<div>
    @Html.ActionLink("Coordinator", MVC.Coordinator.Index(), new { id = "index-coordonnateur" })
</div>
<div>
    @Html.ActionLink("Ajouter des étudiants", MVC.Student.Upload(), new { id = "upload-student" })
</div>
<div>
    @Html.ActionLink("Créer un profil entreprise", MVC.ContactEnterprise.Create(), new { id = "create-enterprise" })
</div>
