@using System.Configuration
@using Microsoft.AspNet.Identity
<h2 id="home-page">Bienvenue</h2>
<div>Users<br/>
    Coordonnateur (compte de tests, sauf pour les edit) 
    <br/> Username: coordonnateur@stagio.com
    <br/> Password: test4test
    <br/><br/>
    Student
    <br/>Username: 1234567
    <br/>Password: qwerty12
    <br/><br/>
    Contact Entreprise
    <br/>Username: bond.james.007@hotmail.com
    <br/>Password: qwerty12
</div><br/>

@Html.ActionLink("Créer un profil étudiant", MVC.Student.Create(), new { id = "create-student" })<br/>
@Html.ActionLink("Créer un profil coordonnateur", MVC.Coordinator.Create(), new { id = "create-coordinator" })<br/>
@Html.ActionLink("Créer un profil entreprise", MVC.ContactEnterprise.Reactivate(), new { id = "create-enterprise" })<br/>

@if(@User.IsInRole("Étudiant"))
{
<h4>Étudiant</h4>
<div>
        @Html.ActionLink("Student", MVC.Student.Index(), new { id = "index-Student" })     
</div>
}

@if(@User.IsInRole("Coordonnateur"))
{
<h4>Coordonnateur</h4>
<div>
    @Html.ActionLink("Coordinator", MVC.Coordinator.Index(), new { id = "index-coordonnateur" })
</div>
}

@if(@User.IsInRole("Contact entreprise"))
{ 
<h4>Employé d'une entreprise</h4>
<div>
        @Html.ActionLink("Enterprise", MVC.ContactEnterprise.Index(), new { id = "index-enterprise" })
</div>
}
<h4>Stage</h4>
<div>
    @Html.ActionLink("Liste des stages pour un coordonnateur", MVC.Stage.ListNewStages(), new { id = "list" })
</div>
<div>
    @Html.ActionLink("Visualiser la description du stage 1", MVC.Stage.ViewStageInfo(1), new { id = "stage-1" })
</div>
<div>
    @Html.ActionLink("Liste des stages pour une entreprise", MVC.ContactEnterprise.ListStage(), new { id = "listContact" })
</div>


