@using System.Configuration
@using Microsoft.AspNet.Identity
<h2 id="home-page">Bienvenue</h2>

@if (!Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <h3>
                Étudiant
            </h3>
            <p>
                Le site Stagio permet aux étudiants du cégep de Sainte-Foy d'avoir facilement accès aux offres de
                stages proposées par les entreprises de la région de Québec.
                Grâce à ses stages les étudiants peuvent perfectionner leurs compétences acquises durant leur passage au
                cégep de Sainte-Foy.
            </p>
        </div>
        <div class="col-md-5">
            <h3>
                Entreprise
            </h3>
            <p>
                Le site Stagio permet aux entreprises de proposer des stages aux étudiants du cégep de Sainte-Foy.
                Grâce à Stagio, les entreprises peuvent trouver plus facilement des étudiants pour combler leur poste de stagiaire.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            @Html.ActionLink("Créer un profil étudiant", MVC.Student.Create(), new { id = "create-student", @class = "btnMenu btnMenu-default" })<br />
        </div>
        <div class="col-md-5">
            @Html.ActionLink("Créer un profil entreprise", MVC.ContactEnterprise.Create(), new { id = "create-enterprise", @class = "btnMenu btnMenu-default" })<br />
        </div>
    </div>
}

@if (@User.IsInRole("Étudiant"))
{
    <h4>Étudiant</h4>
    <div>
        @Html.ActionLink("Page d'accueil de l'étudiant", MVC.Student.Index(), new { id = "index-Student" })
    </div>
}

@if (@User.IsInRole("Coordonnateur"))
{
    <h4>Coordonnateur</h4>
    <div>
        @Html.ActionLink("Page d'accueil du coordonnateur", MVC.Coordinator.Index(), new { id = "index-coordonnateur" })
    </div>
}

@if (@User.IsInRole("Contact entreprise"))
{
    <h4>Employé d'une entreprise</h4>
    <div>
        @Html.ActionLink("Page d'accueil de l'employé", MVC.ContactEnterprise.Index(), new { id = "index-enterprise" })
    </div>
}



